@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin-top: 0px;
    margin-left: 0px;
    font-family: "Poppins", sans-serif;
    margin-right: 0px;
    color: aliceblue;

}
.mehu{
    margin-left: 20px;
}
header{
    display: flex;
    justify-content: space-between ;
    border: 1px none white;
    background-color: rgb(25, 24, 24); 
    position: fixed ;
    top: 0px;
    width: 100vw;
    height: 8vh;
    align-items: center;
  
}
.logo a{
    color: rgb(0, 148, 223);
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;   
    padding: 10px;
    transition:0.2s;
    
}
.logo a:hover{
    color: whitesmoke;
    filter: drop-shadow(10px 0px 10px);
}

.det a{
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 26px;
    font-weight: 400;
    margin-right: 70px;
}
.det a:hover{
    color: rgb(255, 0, 0);
    filter: drop-shadow(0 0 10px );
}
span{
    color:yellow;
    font-size: 20px;
}
.con,.hi{
    position:relative;
    top: 150px;
    max-width: 300px;
    left: 400px;
}
.mi{
    position: relative;
    bottom: 50px;
    right: 80px;
    filter: drop-shadow(0 0px 2px whitesmoke);
    transition: 0.5s;
}
.mi:hover{
   transform:rotate(-3deg);
   filter: drop-shadow(0 0 3px yellow);
}
